

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Shared style */
.display{
    display: flex;
}
.dark-3{
    color: #857777;
    font-size: 1.25rem;
}
.text-primary{
    color: #E95A08;
}
.bg{
    background-color: whitesmoke;
}
body{
    width: 1140px;
    margin: 0 auto;
}
.btn-primary{
    background-color: #FF900E;
    font-size: 1rem;
    color: #FFFFFF;
    padding: 19px 80px;
    border: none;
    font-weight: 600;
}

/* Nav style */
.navbar{
     width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
    
} 
.nav-item{
    list-style: none;
    margin: 20px;
}

.nav-link{
    text-decoration: none;
    color: #8987A1;
    font-weight: 500;
}
/* Banner style */
.banner{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.banner-content{
   margin-top: 120px;

}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.banner-description{
    font-size: 1.25rem;
}
.banner-image{
    display: flex;
    justify-content:flex-end;
    align-items:end;
}

/* Plant style */
.plant{
    text-align: center;
    margin-top: 120px;
}
.plant-title{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.plant-description{
    font-size: 1.25rem;

}
.card{
    width: 270px;
    
   
}
.card h4{
    font-size: 1.25rem;
    font-weight: normal;
    color: #111111;
    margin-bottom: 10px;
}
.card p{
    font-size: 1.25rem;
    font-weight: bold;
    color: #111111;
     margin-top: 10px;
     
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}






@media screen and (max-width: 576px) {
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}