@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Shared style */
.display{
    display: flex;
}
.dark-3{
    color: #857777;
    font-size: 1.25rem;
}
.text-primary{
    color: #E95A08;
}
.bg{
    background-color: whitesmoke;
}
body{
    width: 1140px;
    margin: 0 auto;
}
.btn-primary{
    background-color: #E95A08;
    font-size: 1rem;
    color: #FFFFFF;
    padding: 19px 80px;
    border: none;
    font-weight: 600;
}

/* Nav style */
.navbar{
     width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
    
} 
.nav-item{
    list-style: none;
    margin: 20px;
}

.nav-link{
    text-decoration: none;
    color: #8987A1;
    font-weight: 500;
}
/* Banner style */
.banner{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.banner-content{
   margin-top: 120px;

}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.banner-description{
    font-size: 1.25rem;
}
.banner-image{
    display: flex;
    justify-content:flex-end;
    align-items:end;
}

/* Plant style */
.plant{
    text-align: center;
    margin-top: 120px;
}
.plant-title{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.plant-description{
    font-size: 1.25rem;

}
.card{
    width: 270px;
    
   
}
.card h4{
    font-size: 1.25rem;
    font-weight: normal;
    color: #111111;
    margin-bottom: 10px;
}
.card p{
    font-size: 1.25rem;
    font-weight: bold;
    color: #111111;
     margin-top: 10px;
     
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
/* plant lover section */
.plant-lover{
    display: flex;
    justify-content: space-around;
    margin-top: 210px;
}
.plant-lover-description{
    width: 540px;
    height: 550px;
    margin-left: -50px;
}
.plant-lover-description h1{
    font-size: 3.25rem;
    font-weight: bold;
}
.ul>li{
    font-size: 1.25rem;
}
.flower-store{
    height: 550px;
}
.trust{
    width: 286px;
    height: 286px;
    margin-left: -200px;
    margin-top: -120px;
    filter:drop-shadow(100%)
}
/* Join section */
.join-section{
    margin-top: 120px;
    width: 1440px;
    height: 533px;
    background-image: url(../assets/news-letter-bg.png);

}
.bunch-message h1{
   font-size: 3rem;
   font-weight: bold;
   color: #FFFFFF;
    
}
.bunch-message, input{
        width: 644px;
        height: 58px;
        padding: 8px 20px;
        font-size: 1rem;
        
}

/* Footer sectionn */
    footer{
        width: 1440px;
        height: 348px;
        display: flex;
        margin: 50px 160px;

    }
.footer-logo{
    width: 360px;
}
.foter-item li{
    list-style: none;
}
.footer-link{
    text-decoration: none;
    color: rgba(107, 114, 128, 1);
    margin: 10px;
}


/* @media screen and (max-width: 576px) {
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
} */